@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-list-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .movie-list-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }